In [ ]:
# thi is for comment .

In [ ]:
# understanding the variables in python :

In [1]:
x = 5 #variables are placeholders .
y = 3
x+y

8

In [ ]:
# Rules for declaring variables in python .
# Rule1 : No name spaces should be used while declaring the variable name .

In [ ]:
first_name='faiyaz'
print(first_name)

In [ ]:
firstname='faiyaz'
print(firstname)

In [ ]:
#Rule2 : you should not start a varible name with a number , **

In [ ]:
1nme = 'kiran
print(1name)

In [ ]:
name1 = 'kiran'
print(name1)

In [ ]:
#Rule3 : you should not use any special character in the variable
#,$,*,&,@

In [ ]:
@name = 'shaik'
print(@name)

In [ ]:
#introduction to datatypes in python : 5 diff datatypes 

String ----> Str
integers ----> int
list
tuple
Dictionary ----> dict

In [ ]:
#python is a case sensitive language.

In [ ]:
#classification of datatypes :

#2 diff catagories

#1. Multiple datatype : {flexible}

# we can able to change , modify or alter the data once it has been assigned or declared.

In [ ]:
introduction to string datatypes :
    Defination: A string is nothing but a series of characters.
        String is classified as an immutable datatype.{fixed datatype}
        
        how to define a string : 3 possible ways:
                
                single quotes---->''
                double quotes---->""
                triple quotes---->""""""

In [2]:
name = 'keerthi'
print(name)

keerthi

In [4]:
name1 = "suresh"
print(name1)

suresh

In [5]:
name2 = """rahul"""
print(name2)

rahul

In [ ]:
#introduction to bultin in methods of string:

In [6]:
type(name)

str

In [7]:
type(name)

str

In [8]:
type(name1)

str

In [9]:
type(name2)

str

In [10]:
full_name = 'teja kumar'
print(full_name)

teja kumar

In [11]:
print(full_name.title()) # titlecase()

Teja Kumar

#req----> to convert into capital letters

In [12]:
print(full_name.upper())

TEJA KUMAR